<div class="calculator-container">
    <div class="calculator">
        <div class="calculator__input">
            <div class="calculator__input__operation-row">{{operation}}</div>
            <div class="calculator__input__value-row">{{value}}</div>
        </div>

        <div class="buttons">
            <div 
                *ngFor="let rows of buttons"
                class="row"
            >
                <button
                    *ngFor="let button of rows"
                    (click)="clickButton(button.handler, button.operationType)"
                    type="button" 
                    class="button"
                    [ngClass]="button.classModifier"
                >
                    {{button.caption}}
                </button>
            </div>
        </div>
    </div>

    <div class="calculator__calculations">
        <table class="calculator__calculations__table">
            <thead>
                <tr>
                    <th>CALCULATION</th>
                    <th>DATE</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let calc of calculations">
                    <td>{{calc.calculation}}</td>
                    <td>{{calc.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>